    <% @movies.uniq.each do |movie|%>
            <div>
                <h3>Movie Title: </h3>
                <%= movie.name %>
                <%= movie.description %>
                <%= link_to "Locations", movie_locations_path %>
            </div>
    <% end %>

    <%= link_to "Add Some Movies!", new_movie_path %>