<%= current_user.movies do |movie|%>
        <div>
            <%= movie.name %>
            <%= movie.description %>
            <% movie.locations do |location| %>
                <%= location.city %>
            <% end %>
        </div>
<% end %>