
<h1 class="jumbotron heading">Movies To See App</h1>
    <div class="container">
    <p>collect all the movies you have been dying to see from anywhere in the US and beyond!</p>
    </div>
<div class="container">
    <% if !@movies.empty? %>
    <% @movies.all.each do |movie|%>
        <div>
            Name: <%= movie.name %><br>
            Description: <%= movie.description %><br>
            <%= link_to "Locations", movie_locations_path(movie) %>
        </div>
    <% end %>
<% else %>
     <h3>Looks like no one has added their movies!</h3>
<% end %>
</div>
